/* Estilos para la sección del menú de la cafetería de Caucel */
#section-menu-caucel2 {
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.menu-caucel2-container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu-caucel2-subtitle {
    font-size: 1rem;
    letter-spacing: 2px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-caucel2-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}
.menu-caucel2-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.menu-caucel2-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.menu-caucel2-dish {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #333;
}
.menu-caucel2-price {
    font-size: 16px;
    color: #777;
}
.menu-caucel2-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* Responsividad */

/* Pantallas grandes (desktop) */
@media (min-width: 1200px) {
    .menu-caucel2-title {
        font-size: 40px;
    }
    .menu-caucel2-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-caucel2-item {
        padding: 30px;
    }
}

/* Pantallas medianas (laptops y tablets en horizontal) */
@media (max-width: 1199px) and (min-width: 768px) {
    .menu-caucel2-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .menu-caucel2-title {
        font-size: 32px;
    }
    .menu-caucel2-dish {
        font-size: 18px;
    }
    .menu-caucel2-price {
        font-size: 14px;
    }
    .menu-caucel2-description {
        font-size: 13px;
    }
}

/* Pantallas pequeñas (tablets en vertical y smartphones grandes) */
@media (max-width: 767px) and (min-width: 480px) {
    .menu-caucel2-subtitle{
        font-size: 0.9rem;
    }
    .menu-caucel2-items {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .menu-caucel2-title {
        font-size: 28px;
    }
    .menu-caucel2-dish {
        font-size: 18px;
    }
    .menu-caucel2-price {
        font-size: 14px;
    }
    .menu-caucel2-description {
        font-size: 13px;
    }
}

/* Pantallas muy pequeñas (smartphones pequeños) */
@media (max-width: 479px) {
    .menu-caucel2-items {
        grid-template-columns: 1fr;
        gap: 15px;
    } 
    .menu-caucel2-subtitle{
        font-size: 0.9rem;
    }
    .menu-caucel2-title {
        font-size: 24px;
    }
    .menu-caucel2-dish {
        font-size: 16px;
    }
    .menu-caucel2-price {
        font-size: 14px;
    }
    .menu-caucel2-description {
        font-size: 12px;
    }
    .menu-caucel2-item {
        padding: 15px;
    }
}
