/* Estilos para la sección "About Us" */

.caucel-about-us {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
    align-content: center;
}

.about-us-subtitle {
    font-size: 1rem;
    color: #666;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.about-us-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-us-item {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.about-us-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.about-us-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0 10px;
}

.about-us-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 10px;
}

.about-us-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    background-color: #FFFFFF00;
    border: 1px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.about-us-button:hover {
    background-color: #18181a;
    color: white;
}

/* Responsividad */

@media (max-width: 1024px) {
    .about-us-title {
        font-size: 2.2rem;
    }

    .about-us-gallery {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .about-us-image {
        height: 190px;
    }
}

@media (max-width: 768px) {
    .about-us-title {
        font-size: 2rem;
    }

    .about-us-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .about-us-image {
        height: 180px;
    }

    .about-us-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .caucel-about-us {
        padding: 30px 10px;
    }

    .about-us-title {
        font-size: 1.8rem;
    }

    .about-us-gallery {
        gap: 15px;
    }

    .about-us-image {
        height: 150px;
    }

    .about-us-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
